
.sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-rows: 85px 1fr;
    background-color: rgb(0,0,0);
    grid-template-areas: "sidebar-header" "sidebar-body";
    min-width: 0;
}

.sidebar-item {
    height: 40px;
    width: 90%;
    border-radius: 5px;
    padding: 0 8px;
    margin: 1px 0px;
    display: flex;
    align-items: center;
    
}

.sidebar-item-icon svg{
    width: 100%;
    height: 100%;
}

.sidebar-body-navs {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 0;
}

.sidebar-item > a {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    color: #aaaaaa;
    transition: .5s;
}

.sidebar-item > button {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    text-decoration: none;
    background-color: black;
    border: none;
    font-weight: bold;
    color: #aaaaaa;
    cursor: pointer;
    padding: 0px;
    outline: none;
    transition: .5s;
}

.sidebar-item > button:active {
    border: none;
    border-color: black;
}

.sidebar-item > button:hover{
    color: white;
}

.sidebar-item-name {
    display: flex;
    justify-content: left;
    width: 100%;
    margin-left: 16px;
}

.active {
    background-color: #282828;
}

.active a{
    color: white;
}

.sidebar-item a:hover {
    color: white;
}

.sidebar-header{
    grid-area: sidebar-header;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
    width: 100%;
}

.sidebar-header img{
    width: 70%;
    height: 150%;
    margin-left: 5%;
}

.sidebar-body{
    grid-area: sidebar-body; 
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 0;
}

.sidebar-body-playlists{
    margin-top: 15px;
    margin-bottom: 8px;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-body-playlists-title{
    color: #aaaaaa;
    font-weight: bold;
    margin: 5px 0;
    margin-bottom: 8px;
    width: 90%;
}

.sidebar-body-playlists-items{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-body-playlists-divider{
    height: 1px;
    width: 80%;
    
    background-color: #222222;
    
}

.sidebar-playlist-item{
    color: #aaaaaa;
    width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 5px;
    font-weight: 600;
}

.sidebar-playlist-item:hover{
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 800px){
    .sidebar-item{
        height: 30px;
    }

    .sidebar-item-icon svg{
        width: 80%;
        height: 80%;
    }
}

@media screen and (max-width: 360px){
    
    .sidebar {
        grid-template-rows: 35px 1fr;
    }

    .sidebar-item-icon svg{
        width: 50%;
        height: 50%;
    }

    .sidebar-item-name {
        margin-left: 0px;
    }

    .sidebar-item > button svg {
        width: 30%;
        height: 50%;
        margin: 0px 3px;
    }
}
