#root{
    height: 100vh;
    width: 100vw;
    margin: 0px;
}

body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #111111;
}

.principal-wrapper{
    display: grid;
    grid-template-columns: 232px 1fr;
    grid-template-rows: calc(100vh - 90px) 90px;
    grid-template-areas: "sidebar body" "player player";
}

.body{
    display: grid;
    grid-area: body;
    grid-template-rows: 60px 1fr;
    grid-template-areas: "topbar" "main-view";
}

.topbar{
    grid-area: topbar;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
}

.topbar-buttons{
    display: flex;
}

.topbar-button{
    background-color: #111111;
    height: 30px;
    width: 80px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin: 0px 3px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.topbar-button:hover{
    background-color: #282828;
}

.topbar-button .active{
    background-color: #282828;
}

.arrows{
    height: 100%;
    width: 13%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #aaaaaa;
}

.left-arrow{
    background-color: black;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 15px 10px;
    border: none;
    cursor: pointer;
    color: #aaaaaa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-arrow{
    background-color: black;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 15px 10px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}


.search-input{
    height: 65%;
    width: 350px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: white;
}

.search-input-icon{
    margin: 0 10px;
}

.search-input input{
    width: 80%;
    outline: none;
    border: none;
}
