.search-wrapper{
    grid-area: main-view;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100vh;
    align-items: center;
}

.section-wrapper{
    display: flex;
    flex-wrap: nowrap;
    width: 95%;
}

.section-span{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
}

.section-span button{
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #111111;
    color: #aaaaaa;
}

.section-title{
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    margin: 8px;
}

.section-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(164px, 1fr));
    max-height: 260px;
    overflow: hidden;
}