#root {
  height: 100vh;
  width: 100vw;
  margin: 0px;
}

body {
  width: 100%;
  height: 100%;
}

.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.login-card {
  height: 100px;
  width: 300px;
  background-color: #181818;

  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  padding: 18px;
}

.login-card-body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-form button {
  width: 80%;
  height: 50px;
  border-radius: 8px;
  border: 2px solid #2cd2e8;
  color: #2cd2e8;
  background-color: #181818;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  outline: none;
}

.login-form button > a {
  text-decoration: none;
  color: #2cd2e8;
  width: 100%;
  height: 100%;
  display: block;
  line-height: 44px;
}
