#root {
    height: 100vh;
    width: 100vw;
    margin: 0px;
}

body{
    width: 100%;
    height: 100%;
}

.login-wrapper{
    display: grid;
    grid-template-columns: 30vw 70vw;
    grid-template-areas: "login-card login-body";
}

.login-card {
    grid-area: login-card;
    height: 100vh;
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-card-header{
    height: 30%;
}
.login-card-body{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form {
    width: 90%;
    height: 200px;
    border-radius: 3px;
    margin-top: 25%;
    display: block;
}

.login-form label{
    display: inline-block;
    margin-bottom: .5rem;
}
.login-form input{
    width: 100%;
    margin-bottom: 10px;    
    border-radius: 3px;
    height: 30px;
    border: solid .1px #aaaaaa;
}

.login-form button{
    width: 100px;
    height: 100px;

    border-radius: 50%;
    margin-top: 15px;
    
    border: hidden;
    background-color: #1DB954;
    color: white;

    cursor: pointer;

    transition: .5s;
    display: flex;

}

.login-form button:hover{
    background-color: #12b735;
}

.login-body{
    grid-area: login-body;
    height: 100vh;
    background-color: #282828;
}

.login-form button a{
    text-decoration: none;
    height: 100%;
    width: 100%;
    color: #dddddd;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.login-form button a:hover{
    text-decoration: none;
    color: white;
}