
.inicio-wrapper{
    grid-area: main-view;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    align-items: center;
}

.section-wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 95%;
}

.section-title{
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    margin: 8px;
}

.section-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(164px, 1fr));
    
    overflow: hidden;
}