.album-wrapper{
    grid-area: main-view;

    display: grid;
    grid-template-rows: 300px 1fr;
    grid-template-areas: "album-info" "tracks-wrapper";
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
}

.album-info{
    grid-area: album-info;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
}

.album-photo{
    width: 230px;
    height: 230px;
    min-width: 230px;
    min-height: 230px;

    margin-left: 35px;
    margin-right: 10px;
}

.album-photo img{
    height: 100%;
    width: 100%;
}

.album-info-text{
    width: 100%;
    height: 230px;
    margin: 0px 15px;
    
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-end;

    font-weight: bold;
}

.album-name{
    margin: 5px 0px;
    font-size: 4rem;
}

.album-type{
    margin: 5px 0px;
}

.album-artist-year-duration{
    margin: 5px 0px;
    display: flex;
    white-space: pre-wrap;
}

.album-release-year{
    font-weight: initial;
    color: #aaaaaa;
}

.album-duration{
    font-weight: initial;
    color: #aaaaaa
}

.album-tracks-wrapper{
    grid-area: tracks-wrapper;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 35px;
    width: 95%;
}

.album-track-row{
    display: flex;
    color: white;
    height: 60px;
    width: 100%;
    align-items: center;
}

.album-track-row:hover{
    background-color: #282828;
}

.music-icon{
    width: 20px;
    height: 20px;
    margin: 0px 10px;
}

.music-icon img{
    height: 100%;
    width: 100%;
}

.album-track-text{
    margin: 0px 10px;
    width: 100%;
}

.album-track-name{
    font-size: 1rem;
    font-weight: bold;
}

.album-track-artists{
    font-size: .7rem;
    color: #aaaaaa;
    
}

.album-track-duration{
    color: #aaaaaa;
    font-weight: bold;
    height: 100%;

    margin: 0px 10px;
    padding-top: 10px;
}

.album-artists{
    display: flex;
}

.album-artist-link {
    color: white;
    text-decoration: none;
}

.album-artist-link:hover{
    text-decoration: underline;
}

.album-copyrights{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
    color: #bbbbbb;
    font-size: .65rem;
    margin-top: 50px;
    margin-bottom: 30px;
}